<h1>Edit Topic</h1>

<%= form_for(@topic) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit 'Save this Topic' %>
  </div>

<% end %>

<%= link_to 'Back', topics_path %>